.user-profile {
  width: 100%;
  height: 400px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  background-image: url(/images/brick-wall-dark.png);
  margin-top: 200px;
}