img {
  height: 300px;
  width: 300px;
  border-radius: 40%;
}

#image {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

@media only screen and (max-width: 1024px) {
  #me {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 0;
    background-color: #03002e;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  }
}

@media only screen and (min-width: 1024px) {
  #me {
    height: 60%;
    width: 40%;
    position: fixed;
    float: left;
    margin: 115px 0 0 5%;
    background-color: #03002e;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  }

  #image {
    margin: none;
  }
}
