.logo {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

nav {
  height: 120px;
  position: fixed;
  width: 100%;
  padding: 1.5em;
  background-color: #4056A1;
  color: #FFFF;
  z-index: 999;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-btn {
  font-size: 20px; 
  font-family: 'Source Sans Pro', sans-serif;
}

.toggle-btn:hover {
  cursor: pointer;
}
