nav {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  z-index: 99999999;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.1em;
}

#logo {
  font-family: "Bungee";
  font-size: 45px;
}

#write-a-new-tweet {
  float: right;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

#write-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: cyan;
  border-radius: 50%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#write-tweet:hover {
  cursor: pointer;
  color: darkred;
}
