h2 {
  text-align: center;
}

textarea {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 4px solid #242135;
}

.counter {
  font-family: "Bungee";
  float: right;
  position: relative;
  top: 0;
  margin-top: 0.55%;
}

input {
  font-family: "Bungee";
  font-size: 25px;
  color: #fefefe;
  background-color: #4056a1;
  padding: 6px 6px;
}

#under-new-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-error {
  margin: 1% 0 0 2%;
  font-family: "Bungee";
  font-size: 19px;
  width: 81%;
}
