.tweet {
  border: 4px #545149 solid;
  margin: 40px 0px;
}

.tweet > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.tweet > header > div {
  display: flex;
  align-items: center;
}

.tweet-handle {
  opacity: 0;
}

article:hover .tweet-handle {
  opacity: 1;
}

.tweet > header > div > img {
  margin: 15px
}

.tweet-handle {
  margin: 15px
}

.tweet-text {
  margin: 20px auto;
  padding-bottom: 20px;
  border-bottom: 4px #545149 solid;
  width: 97%;
  display: block;
  word-break: break-word;
}

.tweet-icons {
  display: inline;
}

.tweet > footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  margin-bottom: 20px;
}